# Part 1 : Scraping information about cities

In [97]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "notebook"

import requests
import json
import pandas as pd
from bs4 import BeautifulSoup

import boto3
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, text

In [98]:
listCities = ["Mont Saint Michel",
                "St Malo",
                "Bayeux",
                "Le Havre",
                "Rouen",
                "Paris",
                "Amiens",
                "Lille",
                "Strasbourg",
                "Chateau du Haut Koenigsbourg",
                "Colmar",
                "Eguisheim",
                "Besancon",
                "Dijon",
                "Annecy",
                "Grenoble",
                "Lyon",
                "Gorges du Verdon",
                "Bormes les Mimosas",
                "Cassis",
                "Marseille",
                "Aix en Provence",
                "Avignon",
                "Uzes",
                "Nimes",
                "Aigues Mortes",
                "Saintes Maries de la mer",
                "Collioure",
                "Carcassonne",
                "Ariege",
                "Toulouse",
                "Montauban",
                "Biarritz",
                "Bayonne",
                "La Rochelle"]

In [99]:
df_cities = pd.DataFrame(listCities)
df_cities = df_cities.rename(columns={0: "Cities"})

In [100]:
url_cities = 'https://nominatim.openstreetmap.org/search.php?q={}&country=France&format=jsonv2'

latitude = []
longitude = []

for i in range(len(listCities)):
    search_cities = requests.get(url_cities.format(listCities[i]))
    latitude.append(search_cities.json()[0]['lat'])
    longitude.append(search_cities.json()[0]['lon'])

df_cities['latitude'] = latitude
df_cities['latitude'] = df_cities['latitude'].astype('float64')
df_cities['longitude'] = longitude
df_cities['longitude'] = df_cities['longitude'].astype('float64') 

df_cities.shape
display(df_cities.head())

              Cities   latitude  longitude
0  Mont Saint Michel  48.635954  -1.511460
1            St Malo  48.649518  -2.026041
2             Bayeux  49.276462  -0.702474
3           Le Havre  49.493898   0.107973
4              Rouen  49.440459   1.093966

In [101]:
# Storing cities data (needs to be collected only once)
df_cities.to_csv('data/cities.csv',index=False)

# Part 2 : Scraping information about weather

In [102]:
# API key and target url
api_key = open("data/openWeather_APIkey.txt", "r").read()
url_weather = "https://api.openweathermap.org/data/2.5/onecall?lat={}&lon={}&exclude=current,minutely,hourly&units=metric&appid={}"

dataWeather = pd.DataFrame(columns=['Cities', 'latitude', 'longitude', 'main_weather_7days', 'rain_amount_7days', 'temp_7days','clouds_7days'])

In [103]:
df_cities

                          Cities   latitude  longitude
0              Mont Saint Michel  48.635954  -1.511460
1                        St Malo  48.649518  -2.026041
2                         Bayeux  49.276462  -0.702474
3                       Le Havre  49.493898   0.107973
4                          Rouen  49.440459   1.093966
5                          Paris  48.858890   2.320041
6                         Amiens  49.894171   2.295695
7                          Lille  50.636565   3.063528
8                     Strasbourg  48.584614   7.750713
9   Chateau du Haut Koenigsbourg  48.249490   7.344296
10                        Colmar  48.077752   7.357964
11                     Eguisheim  48.044797   7.307962
12                      Besancon  47.238022   6.024362
13                         Dijon  47.321581   5.041470
14                        Annecy  45.899235   6.128885
15                      Grenoble  45.187560   5.735782
16                          Lyon  45.757814   4.832011
17              Gorges du Verdon  43.749656   6.328562
18            Bormes les Mimosas  43.150697   6.341928
19                        Cassis  43.214036   5.539632
20                     Marseille  43.296174   5.369953
21               Aix en Provence  43.529842   5.447474
22                       Avignon  43.949249   4.805901
23                          Uzes  44.012128   4.419672
24                         Nimes  43.837425   4.360069
25                 Aigues Mortes  43.565823   4.191284
26      Saintes Maries de la mer  43.452277   4.428717
27                     Collioure  42.525050   3.083155
28                   Carcassonne  43.213036   2.349107
29                        Ariege  42.945537   1.406554
30                      Toulouse  43.604462   1.444247
31                     Montauban  44.017584   1.354999
32                      Biarritz  43.471144  -1.552727
33                       Bayonne  43.494514  -1.473666
34                   La Rochelle  46.159113  -1.152043

In [104]:
# Loop to request weather data
for i in range(len(df_cities)):
    req_weather = requests.get(url_weather.format(df_cities['latitude'][i], df_cities['longitude'][i], api_key))
    results = req_weather.json()

# Looking for
    predicted_rain = 0
    for row in results['daily']:
        if 'rain' in row.keys():
            predicted_rain += row['pop'] * row['rain']
# From weather API documentation, 'pop' = probability of precipitation, 'rain' is volume. 
    temperatures = pd.Series([row['temp']['day'] for row in results['daily']])
    weather = pd.Series([row['weather'][0]['main'] for row in results['daily']])
    cloudiness = pd.Series([row['clouds'] for row in results['daily']])

    mean_temperature = temperatures.mean()
    main_weather = weather.mode()[0]
    clouds = cloudiness.mean()


# Loading data into dataframe
    dataWeather.loc[i,'Cities'] = df_cities['Cities'][i]
    dataWeather.loc[i,'latitude'] = df_cities['latitude'][i]
    dataWeather.loc[i,'longitude'] = df_cities['longitude'][i]
    dataWeather.loc[i,'main_weather_7days'] = main_weather
    dataWeather.loc[i,'rain_amount_7days'] = int(predicted_rain)
    dataWeather.loc[i,'temp_7days'] = int(mean_temperature)
    dataWeather.loc[i,'clouds_7days'] = int(clouds)

Let's sort entries to get the most popular cities with the best weather. Then, we will rank their quality by temperature and humidity as well as cloudiness and wind speed.

In [105]:
dataWeather = dataWeather.sort_values(by=['rain_amount_7days', 'temp_7days','clouds_7days'], ascending=[True, False, True]).reset_index(drop=True)
quality = [ round((dataWeather['temp_7days'][i]*2) - (dataWeather['clouds_7days'][i]/4) - (dataWeather['rain_amount_7days'][i]*2),2) for i in range(len(dataWeather))]

dataWeather['quality'] = quality
dataWeather = dataWeather.sort_values(by='quality',ascending=False).reset_index(drop=True)
display(dataWeather)

,Cities,latitude,longitude,main_weather_7days,rain_amount_7days,temp_7days,clouds_7days,quality
0,Collioure,42.52505,3.083155,Clouds,0,14,71,10.25
1,Cassis,43.214036,5.539632,Clouds,6,14,52,3.00
2,Bormes les Mimosas,43.150697,6.341928,Clouds,5,14,61,2.75
3,Marseille,43.296174,5.369953,Clouds,7,14,52,1.00
4,Aigues Mortes,43.565823,4.191284,Clouds,5,13,66,-0.50
5,Carcassonne,43.213036,2.349107,Clouds,1,12,91,-0.75
6,Aix en Provence,43.529842,5.447474,Clouds,7,13,53,-1.25
7,Saintes Maries de la mer,43.452277,4.428717,Clouds,6,13,63,-1.75
8,Toulouse,43.604462,1.444247,Rain,5,12,83,-6.75
9,Avignon,43.949249,4.805901,Clouds,11,14,69,-11.25
10,Nimes,43.837425,4.360069,Clouds,10,13,70,-11.50
11,Uzes,44.012128,4.419672,Clouds,11,12,71,-15.75
12,Montauban,44.017584,1.354999,Rain,9,12,88,-16.00
13,Gorges du Verdon,43.749656,6.328562,Clouds,10,10,69,-17.25
14,Ariege,42.945537,1.406554,Clouds,7,8,92,-21.00
15,Grenoble,45.18756,5.735782,Rain,14,13,87,-23.75
16,Paris,48.85889,2.320041,Rain,15,10,96,-34.00
17,Dijon,47.321581,5.04147,Rain,18,10,84,-37.00
18,Strasbourg,48.584614,7.750713,Rain,22,10,82,-44.50
19,Biarritz,43.471144,-1.552727,Rain,28,14,87,-49.75
20,Bayonne,43.494514,-1.473666,Rain,28,14,87,-49.75
21,Lyon,45.757814,4.832011,Clouds,27,12,81,-50.25
22,La Rochelle,46.159113,-1.152043,Rain,26,12,96,-52.00
23,Colmar,48.077752,7.357964,Rain,28,11,79,-53.75
24,Besancon,47.238022,6.024362,Rain,28,11,83,-54.75
25,Eguisheim,48.044797,7.307962,Rain,30,11,79,-57.75
26,Chateau du Haut Koenigsbourg,48.24949,7.344296,Rain,27,8,81,-58.25
27,Amiens,49.894171,2.295695,Rain,30,10,85,-61.25
28,Lille,50.636565,3.063528,Rain,32,9,88,-68.00
29,Bayeux,49.276462,-0.702474,Rain,36,11,91,-72.75
30,Rouen,49.440459,1.093966,Rain,36,10,87,-73.75
31,Annecy,45.899235,6.128885,Rain,38,10,79,-75.75
32,St Malo,48.649518,-2.026041,Rain,38,11,95,-77.75
33,Mont Saint Michel,48.635954,-1.51146,Rain,44,11,95,-89.75
34,Le Havre,49.493898,0.107973,Rain,49,10,94,-101.50

In [106]:
# Read or write to csv as needed
dataWeather.to_csv('data/dataWeather.csv',index=False)
# dataWeather = pd.read_csv('data/dataWeather.csv')

# Part 3 : Scraping information about hotels

Let's scrape informations about hotels in the most popular cities with the best weather. Getting search urls (Booking.com page) for each city, displaying only results with score above 6 / 10.
Getting hotels' URLs for each search :

In [107]:
agent = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'}
search_urls = []

for i in range(len(dataWeather)):
    search_urls.append('https://www.booking.com/searchresults.fr.html?ss='+dataWeather['Cities'][i]+'&nflt=review_score%3D60')

hotels_urls = []

for url in search_urls:
    page = requests.get(url, headers=agent)
    soup = BeautifulSoup(page.content, "html.parser")
    for a in soup.find_all('a',{"class": "e13098a59f"}, href=True):
        hotels_urls.append(a['href'])


hotels_urls = [i.split('?')[0] for i in hotels_urls]

Now let's create a class to store all the informations about the cities. We will use this class to create a dataframe. Finally, we will use this dataframe to create a marker map.

In [108]:
class BookingHotelData:
    '''Class to get hotel data from booking.com, using hotel url, and store it in a dictionary.'''
    def __init__(self):
        '''Initiate the class, and create a list of hotels urls and a dictionary to store hotel data.'''
        self.hotel_list = []
        self.hotel_data = {}
        self.hotel_data["name"] = "Empty"
        self.hotel_data["address"] = "Empty"
        self.hotel_data["description"] = "Empty"
        self.hotel_data["score"] = "Empty"
        self.hotel_data["url"] = "Empty"
        self.hotel_data["bonus"] = "Empty"
        self.hotel_data["latlon"] = "Empty"

    def get_hotel_data(self, url):
        '''Get hotel data from booking.com, using hotel url, and store it in a dictionary.'''
        agent = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'}
        session_object = requests.Session()
        page = session_object.get(url,headers=agent)
        soup = BeautifulSoup(page.content, "lxml")
        try:
            self.hotel_data["name"] = soup.find("h2", {"class": "pp-header__title"}).text.strip()
        except:
            pass
        try:
            self.hotel_data["address"] = soup.find("span", {"class": "hp_address_subtitle"}).text.strip()
        except:
            pass
        try:
            self.hotel_data["description"] = soup.find("div", {"class": "hp_desc_main_content"}).text.strip()
        except:
            pass
        try:
            self.hotel_data["score"] = soup.find("a", {"class": "hp_review_score"}).text.strip()
        except:
            pass
        try:
             self.hotel_data["bonus"] = soup.find("div", {"class": "hp_desc_important_facilities"}).text.strip()
        except:
            pass
        try:
             self.hotel_data["latlon"] = soup.find("a", {"class": "show_map"}).get('data-atlas-latlng')
        except:
            pass

        self.hotel_data["url"] = url
        
        self.hotel_list.append(self.hotel_data)

In [109]:
print(len(hotels_urls))

875

After scraping the data, we will save it in a csv file. We will use the pandas library to save the data in a csv file.

In [110]:
# Getting hotel data from each hotel url, and storing it in a list of dictionaries. 
hotels_list = []
count = 0

for url in hotels_urls:
    count = count
    hotels = BookingHotelData()
    hotels.get_hotel_data(url)
    hotels_list.append(hotels.hotel_list[:])
    count += 1
    if count % 50 == 0:
        print(count)

50
100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850

In [111]:
dataBooking = dataWeather.copy()
dataBooking = dataBooking.loc[dataWeather.index.repeat(25)]
dataBooking = dataBooking.drop(['latitude','longitude','main_weather_7days','rain_amount_7days','temp_7days','clouds_7days','quality'],axis=1)

# Creating new df with hotel info
dataBooking['raw_data'] = hotels_list
dataBooking['raw_data'] = dataBooking['raw_data'].apply(pd.Series)

hotel_data = dataBooking.raw_data.apply(pd.Series)
dataBooking = pd.concat([dataBooking, hotel_data],axis=1)
dataBooking = dataBooking.drop('raw_data', axis=1).reset_index()

dataBooking['description'] = dataBooking['description'].str.replace('\n', '')
dataBooking['score'] = dataBooking['score'].str.replace('\xa0', '').str.slice(stop=3)
dataBooking['score'] = dataBooking['score'].str.replace(',', '.')

dataBooking['bonus'] = dataBooking['bonus'].str.replace('\n', ' ').str.replace('Ses points forts', '')
dataBooking['latitude'] = dataBooking['latlon'].str.split(',').str[0]
dataBooking['longitude'] = dataBooking['latlon'].str.split(',').str[1]
dataBooking = dataBooking.drop('latlon',axis=1)
dataBooking[['latitude','longitude']] = dataBooking[['latitude','longitude']].astype(float)

In [112]:
dataBooking['score'] = dataBooking['score'].str.replace(',', '.') # Replace comma by dot
#drop index column
dataBooking = dataBooking.drop('index',axis=1)

# Checking for missing data
dataBooking.isna().sum()

Cities         0
name           0
address        0
description    0
score          0
url            0
bonus          0
latitude       0
longitude      0
dtype: int64

In [113]:
# Storing hotels data (needs to be collected only once)
dataBooking.to_csv('data/dataBooking.csv',index=False)

In [114]:
# uncomment to load data
# dataBooking = pd.read_csv('data/dataBooking.csv')

In [115]:
dataBooking.head()

,Cities,name,address,description,score,url,bonus,latitude,longitude
0,Collioure,Résidence Saint Vincent,"9 rue saint vincent, 66190 Collioure, France",Vous pouvez bénéficier d'une réduction Genius ...,8.0,https://www.booking.com/hotel/fr/residence-sai...,Parking Connexion Wi-Fi gratuite Cha...,42.527301,3.084233
1,Collioure,Les Roches Brunes,"Route de Port-Vendres, 66190 Collioure, France",Vous pouvez bénéficier d'une réduction Genius ...,9.1,https://www.booking.com/hotel/fr/les-roches-br...,Parking gratuit Restaurant Chambres ...,42.525348,3.090324
2,Collioure,La Frégate,"24 Boulevard Camille Pelletan, 66190 Collioure...","Situé à Collioure, à 200 mètres de la plage de...",8.2,https://www.booking.com/hotel/fr/la-fra-c-gate...,Animaux domestiques admis Restaurant ...,42.526386,3.083257
3,Collioure,Bel appartement pour 4 personnes - 4SAP22,"residence Saphir Route Imperiale 1b, 66190 Col...",Vous pouvez bénéficier d'une réduction Genius ...,7.8,https://www.booking.com/hotel/fr/residence-sap...,Parking gratuit Front de mer Chambre...,42.524349,3.090149
4,Collioure,Le Mas des Citronniers,"22 Avenue de La Republique, 66190 Collioure, F...",Vous pouvez bénéficier d'une réduction Genius ...,8.0,https://www.booking.com/hotel/fr/lesmasdescitr...,Animaux domestiques admis Connexion Wi-...,42.525382,3.082564

# Part 4 : Storing the data in AWS S3 and querying it

Data is now scraped and saved in a csv file. Let's now store it in AWS S3 bucket. We will use boto3 library to store the data in S3 bucket. We will use the following code to store the data in S3 bucket.

In [124]:
# Create a session on amazon S3
aws_settings = open("data/AWSsettings.txt", "r").readlines()

session = boto3.Session(
                        aws_access_key_id= aws_settings[0].strip(),
                        aws_secret_access_key= aws_settings[1].strip()
                        )

s3 = session.resource("s3")

In [ ]:
#create a bucket
bucketname = 'bucketswell-bookingcom'
bucket = s3.create_bucket(Bucket=bucketname, ACL = 'public-read-write', CreateBucketConfiguration={'LocationConstraint': 'eu-west-3'})

In [119]:
s3.Bucket(bucketname).upload_file('data/dataBooking.csv','dataBooking.csv')
s3.Bucket(bucketname).upload_file('data/dataWeather.csv','dataWeather.csv')

In [126]:
import io

#getting the file from the bucket and storing it in a dataframe
obj = s3.Object(bucketname, 'dataBooking.csv')
body = obj.get()['Body'].read()
bucket_booking = pd.read_csv(io.BytesIO(body))

obj = s3.Object(bucketname, 'dataWeather.csv')
body = obj.get()['Body'].read()
bucket_weather = pd.read_csv(io.BytesIO(body))

In [127]:
bucket_booking.head()

,Cities,name,address,description,score,url,bonus,latitude,longitude
0,Collioure,Résidence Saint Vincent,"9 rue saint vincent, 66190 Collioure, France",Vous pouvez bénéficier d'une réduction Genius ...,8.0,https://www.booking.com/hotel/fr/residence-sai...,Parking Connexion Wi-Fi gratuite Cha...,42.527301,3.084233
1,Collioure,Les Roches Brunes,"Route de Port-Vendres, 66190 Collioure, France",Vous pouvez bénéficier d'une réduction Genius ...,9.1,https://www.booking.com/hotel/fr/les-roches-br...,Parking gratuit Restaurant Chambres ...,42.525348,3.090324
2,Collioure,La Frégate,"24 Boulevard Camille Pelletan, 66190 Collioure...","Situé à Collioure, à 200 mètres de la plage de...",8.2,https://www.booking.com/hotel/fr/la-fra-c-gate...,Animaux domestiques admis Restaurant ...,42.526386,3.083257
3,Collioure,Bel appartement pour 4 personnes - 4SAP22,"residence Saphir Route Imperiale 1b, 66190 Col...",Vous pouvez bénéficier d'une réduction Genius ...,7.8,https://www.booking.com/hotel/fr/residence-sap...,Parking gratuit Front de mer Chambre...,42.524349,3.090149
4,Collioure,Le Mas des Citronniers,"22 Avenue de La Republique, 66190 Collioure, F...",Vous pouvez bénéficier d'une réduction Genius ...,8.0,https://www.booking.com/hotel/fr/lesmasdescitr...,Animaux domestiques admis Connexion Wi-...,42.525382,3.082564

In [128]:
bucket_weather.head()

,Cities,latitude,longitude,main_weather_7days,rain_amount_7days,temp_7days,clouds_7days,quality
0,Collioure,42.525050,3.083155,Clouds,0,14,71,10.25
1,Cassis,43.214036,5.539632,Clouds,6,14,52,3.00
2,Bormes les Mimosas,43.150697,6.341928,Clouds,5,14,61,2.75
3,Marseille,43.296174,5.369953,Clouds,7,14,52,1.00
4,Aigues Mortes,43.565823,4.191284,Clouds,5,13,66,-0.50

In [142]:
# Getting login info from file to avoid putting it on github by accident
login_info = open("data/login_info.txt", "r").readlines()

engine = create_engine(f"postgresql+psycopg2://{login_info[0].strip()}:{login_info[1].strip()}@{login_info[2].strip()}:{login_info[3].strip()}/{login_info[4].strip()}")
Session = sessionmaker(bind=engine)
session = Session()

In [143]:
engine

Engine(postgresql+psycopg2://postgres:***@kayak-1.chnczk8u9ur3.eu-west-3.rds.amazonaws.com:5432/postgres)

In [ ]:
# storing weather & booking dataframes as SQL tables
dataWeather.to_sql('weather', con=engine, if_exists='replace', index=False)
dataBooking.to_sql('booking', con=engine, if_exists='replace', index=False)